<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="Context" connectionString="metadata=res://*/Journal.MySQLJournal.Database.MySQLJournal.csdl|res://*/Journal.MySQLJournal.Database.MySQLJournal.ssdl|res://*/Journal.MySQLJournal.Database.MySQLJournal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=seconomy&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>